* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clearfix:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.col-4,
.col-6,
.col-12 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 4em;
}
p {
  margin: 0;
}
hr {
  margin: 0;
}
#header {
  position: relative;
}
#header #carouselExampleFade {
  height: 840px;
}
#header #carouselExampleFade .section {
  width: 100%;
  height: 840px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#header #carouselExampleFade .section-a {
  background-image: url(https://images.unsplash.com/photo-1621252346441-c42a54aa8707?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
}
#header #carouselExampleFade .section-b {
  background-image: url(https://images.unsplash.com/photo-1552965677-8ddf4bdc939f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
}
#header #carouselExampleFade .section-c {
  background-image: url(https://images.unsplash.com/photo-1473445195779-499faea82cb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1084&q=80);
}
#header .container .title {
  width: 410px;
  height: 330px;
  position: absolute;
  top: 0;
  left: 15%;
  text-align: center;
  padding: 10px;
  z-index: 9999;
  background-color: #ffffff82;
}
#header .container .title img {
  width: 30%;
}
#header .container .title h5 {
  padding-top: 25px;
}
#header .container .title h1 {
  font-size: 50px;
  font-weight: 800;
}
#header .container .title .nav {
  width: 340px;
  margin: 15px auto;
}
#header .container .title .nav li {
  padding: 0 10px;
}
#header .container .title .nav li a {
  font-size: 18px;
  font-weight: 700;
  color: #181818;
  transition: 0.2s linear all;
}
#header .container .title .nav li a:hover {
  color: #4e4e4e;
}
